.CreateFolderWindow{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 200px;
  background-color: white;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 8px 7px 0px 2000px rgba(128,128,128,0.75);
  -moz-box-shadow: 8px 7px 0px 2000px rgba(128,128,128,0.75);
  box-shadow: 8px 7px 0px 2000px rgba(128,128,128,0.75);

}

.question{
  text-align: center;
}
.namingMap{
  position: absolute;
  top: 45%;
  left: 28%;

  border-radius: 0;
  background-color: white;
  border: 1px solid black;
  color: black;

}
.knapp{
  margin: 0
}
#create{
  position: relative;
  left: 120px;
  bottom: -70px;

}
#cancel{
  position: relative;
  left: 160px;
  bottom: -70px;

}
#create:hover{
  background-color: lightgray;
}
#cancel:hover{
  background-color: lightgray;
}
.CopyWindow{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 600px;
  background-color: white;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 8px 7px 0px 2000px rgba(128,128,128,0.75);
  -moz-box-shadow: 8px 7px 0px 2000px rgba(128,128,128,0.75);
  box-shadow: 8px 7px 0px 2000px rgba(128,128,128,0.75);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.selectFolder{
  width: 300px;
  height: 400px;
  border: 1px solid black;
  margin-top: 10px;
  padding:0;
  overflow-y: scroll;
}
.listOfFolders:nth-child(even){
  background-color: lightgray
}
.routing{
  margin-left: 0;
}
.routing:hover{
  cursor: pointer;
  color:lightgray;
}
