.files{
    width: 75%;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
    background-color: white;
    border-top-right-radius: 90px;

}

span{
  margin-left: 20px;
}

td {
    color: black;
    border-bottom: 5px double rgba(0,0,0,0.56);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-style: italic;
    font-size: large;
    font-weight: 500;

}

.linktest {
  margin-left: 20px;


}

td{
  font-size: 20px;
  /*transition: all 0.5s;*/
  transition-timing-function: ease-in-out;

}


td:hover {
  font-size: 25px;
}

.folderTd {
  padding-left: 20px;

}

td:hover{
  cursor: pointer;
}



th {
    color: black;
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;

}


table tr:nth-child(even){
  background-color: #ece9e9;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

h2 {
  color: black;
}

td:hover {
  background-color: #f0ebeb;
  font-size: 25px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.files::-webkit-scrollbar {
    width: 5px;
    height: 5px;

  }
  .files::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 10px;
  }
  .files::-webkit-scrollbar-thumb {
    background-color: rgb(148, 148, 148);
    border-radius: 10px;

  }
.table{
  width: 100%
}
.option{
  margin:0;
}
.dropdownList{
  height: 25px;
  width: 100px;

  border: none;
  
}


  img {
    margin-left: 20px;
    border-radius: 5px;
    margin-right: 10px;
  }

span{
  margin-top: 5px;
  margin-left: 10px;
}
