.bigBox{
    height: 100vh;
    width: 100%;
    background-color: brown;
}

.App{
    display: flex;
    width: 100vw;
    height: 100vh;
}
header{
    height: 20%;
    width: 100%;
    background-color: 	#101010;
    
}
main{
    height: 80%;
    width: 100%;
    background-color: 	#101010;
    display: flex;
}
.files{
    width: 75%;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
    border-top: 1px solid #00ffa7;
    
}
.sideLeft{
    width: 30%;
    height: 100%;
    background-color: white;
}
.sidebarRight{
    width: 25%;
    height: 100%;
    background-color: white;
    
    z-index: 2;
    margin-bottom: 10px;
}

button {
   background-color: #00ffa7;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   border-left: none;
   border: 1px solid  #00ffa7;
   transform: scale(1.5);
   /* opacity: 0.6; */

   position: absolute;
   right: 0;
   margin-right: 50px;
   margin-top: 80px;
}

input {
    background-color: #101010;
    border: 1px solid #00ffa7;
    position: absolute;
    right: 0;
    margin-right: 150px;
    margin-top: 80px;
    transform: scale(1.5);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

td {
    color: black;
    
    border-bottom: 5px double rgba(0,0,0,0.56);
    text-align: center; 
    font-style: italic;
    font-size: large;
    font-weight: 500;
   
}

th {
    color: black;
}

tr{
    margin-left: 100px;
    border-collapse: collapse;
}

.files::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .files::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
  }
  .files::-webkit-scrollbar-thumb {
    background-color: #11171a;
    border-radius: 10px;
  }
  


