.App {
    background-color: rgb(153, 149, 149);
}

body{
    overflow: hidden;
    margin: 0;
}

.bigBox{
    height: 100%;
    width: 100%;
    background-color: rgb(153, 149, 149);
}

.App{
    display: flex;
    width: 100vw;
    height: 100vh;
}

header{
    height: 20%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.808);
    border-bottom-left-radius: 180px;
}

h1{
    margin: 0;
    margin-right: 350px;
    padding: 0;
    text-align: center;
    color: rgb(240, 240, 240);
    text-decoration: underline;
}

main{
    height: 80%;
    width: 100%;
    background-color: 	rgb(153, 149, 149);
    display: flex;
}

.sideLeft{
    width: 30%;
    height: 100%;
    background-color: white;
    border-top-right-radius: 165px;
}
.sidebarRight{
    width: 25%;
    height: 100%;
    background-color: white;
    border-bottom-left-radius: 180px;
    margin-bottom: 10px;
}

.sideText {
    float: right;
    transform: rotate(90deg);
    transform-origin: top left;
    margin-left: 4rem;
    font-size: 25px;
    text-decoration: underline;
    margin-right: -200px;
    color: black;
}

.buttonField {
    color: rgba(253, 253, 253, 0.856);
    border: 1px solid  rgb(253, 253, 253);
    background-color: rgba(0,0,0,0.56);;
    border-left: none;
    transform: scale(1.3);
    position: absolute;
    right: 0;
    margin-right: 30px;
    margin-top: 50px;
}

.buttonField:hover{
    cursor: pointer;
}




.tdButton {
    color: rgba(253, 253, 253, 0.856);
    border: 1px solid  rgba(0,0,0,0.56);;
    background-color: rgba(0,0,0,0.56);;
    border-left: none;
    transform: scale(1.3);
    height: 22px;
    width: 60px;
    margin-top: 10px;
    
}

.searchField {
    color: rgba(253, 253, 253, 0.801);
    text-align: center;
    background-color: rgba(0,0,0,0.56);
    border: 1px solid rgba(253, 253, 253, 0.801);;
    position: absolute;
    right: 0;
    margin-right: 120px;
    margin-top: 50px;
    transform: scale(1.3);
    border-bottom-left-radius: 40px;
}


.tdInput{
    color: rgba(253, 253, 253, 0.801);
    text-align: center;
    background-color: rgba(0,0,0,0.56);
    border: 1px solid rgba(0,0,0,0.56);
    height: 20px;
    width: 100px;
    margin-top: 10px;

    transform: scale(1.3);
    border-bottom-left-radius: 40px;
    
}

.searchField::placeholder {
    text-align: center;
    color: rgb(253, 253, 253);
    opacity: 0.5;
    font-size: 15px;
    font-style: italic;
}

Link{
    margin: 0;
    margin-left: 200px;
}

.pathing {
    margin-left: 10px;
}

.checkbox {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
    position: relative;
    bottom: 18px;
}

.checkbox:before {
    content: "\2605";
    visibility:visible;
 }

 .checkbox:checked:before {
    content: "\2606";
 }

 .checkboxFiles{
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
    position: relative;
    bottom: 8px;
 }

 .checkboxFiles:before {
    content: "\2606";
    visibility:visible;
 }

 .checkboxFiles:checked:before {
    content: "\2605";
 }