

li{
    transition: width 2s;
    font-size: 20px;
    font-style: italic;
    list-style-type: none;
    text-decoration: underline;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
}

li:hover{
    cursor: pointer;
    font-size: 25px;
    
}


