

li{
    transition: width 2s;
    font-size: 20px;
    font-style: italic;
    list-style-type: none;
    text-decoration: underline;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
}

.liDiv{
    transition: width 2s;
    font-size: 20px;
    font-style: italic;
    list-style-type: none;
    text-decoration: underline;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
}

.liDiv:hover{
    cursor: pointer;
    font-size: 25px;
}

li:hover{
    cursor: pointer;
    font-size: 25px;
    
}

div{
    color: black;
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
}

.bigBox:hover{
    
    font-size: 25px;
}

a, .return{
    margin: 0;
    text-align: center;
    text-decoration: none;
    color: black;
    font-style: italic;
    font-size: large;
    text-decoration: underline solid black;
    transition: all 0.5s;
    transition-timing-function: ease-in-out; 
  }

a, .return:hover{
    cursor: pointer;
    font-size: 25px;
}